.showcase1 {
  background-color: grey;
}
.showcase1 h1{
    background-color: coral;
    padding: 20px;
    text-align: center;
}
.showcase1 p{
    background-color: white;
    text-decoration: underline;
    font-weight: bold;
    font-size: larger;
    text-align: center;
}
.showcase1 ul{
    padding: 0;
    font-size: medium;
    text-align: center;
    list-style-type:upper-roman;
    line-height: 1.6em;
    float: left;
    width:70%;
    padding: 0 30px;
    box-sizing: border-box;
    background-color: #333;
    color: white;
   
}
.showcase1 ul:hover{
    background-color: red;
    color: white;
    
}
.showcase2 {
  
  float: right;
  width:30%;
  padding: 0 30px;
  box-sizing: border-box;
  background-color: #333;
  color: white;
 
}

#mainfooter {
  background-color: grey;
  padding: 20px;
  text-align: center;
  font-size: large;
  font-weight: bold;
}
body{
    background-color: white;
    color: black;
    
}
.clr{
    margin: auto;
}
